
/* Fonts */
@font-face {
    font-family: Itim;
    src: url(./fonts/Itim-Regular.ttf);
}
  
@font-face {
    font-family: Signika;
    src: url(./fonts/Signika-VariableFont_GRAD\,wght.ttf);
}

@font-face {
    font-family: DarkerGrotesque;
    src: url(./fonts/DarkerGrotesque.ttf);
}



:root {
    --borderRadiusMenu: 20px;
}

.content::after{
    color: white;
    content: var(--content);
}



@media (min-width: 320px) {
    .example { max-width: 300px; }
    .sideBar { display: none;}
    :root {
      --content: "320px";
      --iconSize : 76px;
      --Stext: 0.44em;
      --Mtext: 0.56em;
      --Ltext: 1.2em;
      --XLtext: 0.9em;
      --TitleText: 2.4em;
      --profileImageSize: 180px;
      --contentSize: 300px;
      --contentSize2: 300px;
    }
  }
  
  @media (min-width: 380px) {
    .example { max-width: 360px; }
    .sideBar { display: none;}
    :root {
        --content: "380px";
        --iconSize : 78px;
        --Stext: 0.48em;
        --Mtext: 0.62em;
        --Ltext: 1.6em;
        --XLtext: 0.9em;
        --TitleText: 2.8em;
        --profileImageSize: 250px;
        --contentSize: 360px;
        --contentSize2: 360px;
    }
  }
  
  @media (min-width: 480px) {
    .example { max-width: 460px; }
    .sideBar { display: none;}
    :root {
        --content: "480px";
        --iconSize : 82px;
        --Stext: 0.54em;
        --Mtext: 0.66em;
        --Ltext: 1.8em;
        --XLtext: 0.9em;
        --TitleText: 2.9em;
        --profileImageSize: 250px;
        --contentSize: 460px;
        --contentSize2: 300px;
    }
  }
  
  /* @media (min-width: 600px) {
    .example { max-width: 550px; }
    .sideBar { display: none;}
    :root {
        --content: "600px";
        --iconSize : 84px;
        --Stext: 0.60em;
        --Mtext: 0.66em;
        --Ltext: 0.76em;
        --XLtext: 0.9em;
        --TitleText: 1em;
        --profileImageSize: 250px;
        --contentSize: 550px;
    }
  }


  @media (min-width: 768px) {
    .example { max-width: 720px; }
    .sideBar { display: none;}
    :root {
        --content: "768px";
        --iconSize : 86px;
        --Stext: 0.62em;
        --Mtext: 0.68em;
        --Ltext: 0.78em;
        --XLtext: 0.9em;
        --TitleText: 1em;
        --profileImageSize: 250px;
        --contentSize: 680px;
    }
  } */


  @media (min-width: 992px) {
    .example { max-width: 800px; }
    .sideBar { display: none;}
    :root {
        --content: "992px";
        --iconSize : 92px;
        --Stext: 0.66em;
        --Mtext: 0.7em;
        --Ltext: 1.8em;
        --XLtext: 0.9em;
        --TitleText: 2.8em;
        --profileImageSize: 250px;
        --contentSize: 700px;
        --contentSize2: 300px;
    }
  }
  
  @media (min-width: 1200px) {
    .example { max-width: 1100px; }
    .sideBar { display: block; position: fixed;}
    :root {
        --content: "1200px";
        --iconSize : 100px;
        --Stext: 0.68em;
        --Mtext: 0.7em;
        --Ltext: 1.8em;
        --XLtext: 0.9em;
        --TitleText: 3.4em;
        --profileImageSize: 260px;
        --contentSize: 720px;
        --contentSize2: 320px;
    }
  }
  
  @media (min-width: 1600px) {
    .example { max-width: 1500px; }
    .sideBar { display: block; position: fixed;}
    :root {
        --content: "1600px";
        --iconSize : 100px;
        --Stext: 0.70em;
        --Mtext: 0.85em;
        --Ltext: 1.8em;
        --XLtext: 0.9em;
        --TitleText: 4em;
        --profileImageSize: 280px;
        --contentSize: 880px;
        --contentSize2: 340px;
    }
}


@media (min-width: 2200px) {
    .example { max-width: 2000px; }
    .sideBar { display: block; position: fixed;}
    :root {
        --content: "2200px";
        --iconSize : 108px;
        --Stext: 0.80em;
        --Mtext: 1em;
        --Ltext: 2em;
        --XLtext: 3em;
        --TitleText: 5em;
        --profileImageSize: 370px;
        --contentSize: 1000px;
        --contentSize2: 400px;
    }
}



html {
  scroll-behavior: smooth;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    z-index: 1000;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track { /* Track */
    background: #1C1E22;
  }
  ::-webkit-scrollbar-thumb { /* Handle */
    background: #33363a;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
  }
  
  /* General */
  *{
    box-sizing: border-box;
    font-family: DarkerGrotesque;
  }
  
  .noMP{
    margin: 0px;
    padding: 0px;
  }
  
  .alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .alignLeftRight{
    display: flex;
    justify-content: center;
  }
  
  .alignTopBottom{
    display: flex;
    align-items: center;
  }
  
  h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    color: white;
  }
  
  
  .itim{
    font-family: Itim;
  }
  
  .signika{
    font-family: Signika;
  }



/* Layout */
body{
    /* background-color: #1C1E22; */
    background-image:
    radial-gradient(circle at center, rgba(255, 255, 255, 0.01) 0, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
        linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px), 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px); 
        background-size: 100px 100px; 
        background-attachment: fixed;
        background-color: #1C1E22;
    margin: 0px;
    padding: 0px;
  }


  .boxTitle{
    color: #f8f8f8;
    font-size: var(--TitleText);
    font-weight: 500;
    text-align: left; 
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: calc(var(--TitleText) / 6);  
    text-align: left;
    width: var(--contentSize);
  }

  section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    overflow: hidden;
    /* .nameText{
        transition-delay: 500ms;
    }
    .descriptionText{
        transition-delay: 700ms;
    } */

    .linkIconDiv{
        .animateEntryA:nth-child(1){
            transition-delay: 200ms;
        }
        .animateEntryA:nth-child(2){
            transition-delay: 400ms;
        }
        .animateEntryA:nth-child(3){
            transition-delay: 600ms;
        }
    }

    .listOfText{
        h4:nth-child(1){
            transition-delay: 100ms;
        }
        h4:nth-child(2){
            transition-delay: 200ms;
        }
        h4:nth-child(3){
            transition-delay: 300ms;
        }
        h4:nth-child(4){
            transition-delay: 400ms;
        }
    }

    
  }


  h1{
    font-size: 4.5rem;
  }

  h2{
    font-size: 4rem;
  }

  h3{
    font-size: 3rem;
  }

  h4{
    font-size: var(--Ltext);
  }

  h5{
    font-size: 1.75rem;
  }

  h6{
    font-size: 1.6rem;
  }

  p{
    font-size: 1.5rem;
  }



  .hidden{
    opacity: 0;
    transition: all 0.9s;
    filter: blur(2px);
    transform: translateX(-100%);
  }

  .hidden2{
    opacity: 0;
    transition: all 0.9s;
    filter: blur(2px);
    transform: translateX(100%);
    word-spacing: 3px;
    font-family: DarkerGrotesque;
    font-weight: 100;
  }


  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }


  .linkIconDiv{
    height: var(--iconSize);
    width: var(--iconSize);
    .animateHover{
        height: inherit;
        width: inherit;
        margin: 20%;
        transition: 0.2s;
        img{
            height: inherit;
            width: inherit;
            
        }
        .linkIcon{
            height: calc( var(--iconSize) /2);
            width: calc( var(--iconSize) /2);
            margin: 20%;
            transition: 0.15s;
          }
        

    }
    .animateHover:hover{
        .linkIcon{
          transform: scale(1.2);
        }
        .text{
            color: white;
            background-color: rgba(255, 255, 255, 0.030);
            border-radius: 200px;
            scale: 1.07;
        }
        .text2{
            color: white;
            background-color: rgba(255, 255, 255, 0.030);
            border-radius: 200px;
            scale: 1.07;
        }
        .text3{
            color: white;
            background-color: rgba(255, 255, 255, 0.030);
            border-radius: 200px;
            scale: 1.07;
        }
      }
  }


  
  .animateHover{
    transition: 0.2s;
  }


.circle {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    width: inherit;
    height: inherit;
    font-family: consolas;
    /* font-size: 12px; */
    animation: textRotation 8s linear infinite;
    color: rgba(255, 255, 255, 0.0);
    transition: 0.2s;
}

.text span {
    position: absolute;
    left: 50%;
    font-size: var(--Stext);
    transform-origin: 0 calc(var(--iconSize) / 2);
}


.text2 {
    position: absolute;
    width: inherit;
    height: inherit;
    font-family: consolas;
    /* font-size: 12px; */
    animation: textRotation 8s linear infinite;
    color: rgba(255, 255, 255, 0.0);
    transition: 0.2s;
}

.text2 span {
    position: absolute;
    left: 50%;
    font-size: var(--Stext);
    transform-origin: 0 calc(var(--iconSize) / 2);
}


.text3 {
    position: absolute;
    width: inherit;
    height: inherit;
    font-family: consolas;
    /* font-size: 12px; */
    animation: textRotation 8s linear infinite;
    color: rgba(255, 255, 255, 0.0);
    transition: 0.2s;
}

.text3 span {
    position: absolute;
    left: 50%;
    font-size: var(--Stext);
    transform-origin: 0 calc(var(--iconSize) / 2);
}


@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}


.profileImage {
    width: var(--profileImageSize);
    height: auto;
    aspect-ratio: 1 / 1;
}


.navbarBox{
    z-index: 10000;
    width: 100%; 
    height: 62px; 
    background-color: #2B2D31; 
    margin-bottom: 80px;
    .dotBox{
      width: 150px; 
      height: 100%;
      margin-left: 20px;
      .navbarCircle{
        background-color: #65656580; 
        border-radius: 10px; 
        height: 10px; 
        width: 10px; 
        margin-right: 8px;
      }
    }
  }




  /* Skills */
.skillBox{
    display: flex; 
    flex-wrap: wrap; 
    padding-top: 10px; 
    margin-left: 20px; 
    width: var(--contentSize);
    animation-name: skillLoading;
    animation-duration: 2.5s;
    .skill{
      background-color: #d9d9d918;
      border-radius: 100px;
      height: calc(var(--contentSize) / 16); 
      color: #FFFFFF;
      text-align: left;
      font-size: 26px;
      flex-wrap: wrap; 
      margin-top: calc(var(--contentSize) / 100); 
      margin-bottom: calc(var(--contentSize) / 100); 
      position: relative;
      transition: 0.1s;
      .skillImageDiv{
        height: calc(var(--contentSize) / 16); 
        width: calc(var(--contentSize) / 16);  
        border-bottom-left-radius: 50px; 
        border-top-left-radius: 50px; 
        margin-right: 20px;
        transition: 0.1s;
        .skillImage{
          height: calc(var(--contentSize) / 28); 
          width: auto; 
          margin-left: 3px;
        }
      }
      .skillTextBox{
        position:absolute; 
        margin-left: calc(var(--contentSize) / 16);  
        flex-wrap: wrap;
        .skillTextDiv{
          width: 50%; 
          height: 100%; 
          display: flex;
          margin: 0px;
          padding: 0px;
          .skillText{
            font-size: var(--Mtext); 
            text-align: start; 
            margin-left: calc(var(--contentSize) / 30);  
            margin-right: 25px;
            font-weight: 500;
            /* font-family: Itim; */
            animation-name: skillLoadingTextLeft;
            animation-duration: 1s;
          }
          .skillText2{
            font-size: var(--Mtext); 
            margin-right: calc(var(--contentSize) / 12);  
            font-weight: 500;
            /* font-family: Itim; */
            animation-name: skillLoadingTextRight;
            animation-duration: 2.3s;
            text-wrap: nowrap;
          }
        }
      }
    }
  }

  @keyframes skillLoading {
    0% {width: 100px;}
    40% {width: calc(var(--contentSize)/4)}
    100% {width: var(--contentSize);}
  }
  
  @keyframes skillLoadingTextLeft {
    0% {color: #00000000;}
    70% {color: #00000000;}
    100% {color: #fff;}
  }
  
  @keyframes skillLoadingTextRight {
    0% {color: #00000000;}
    85% {color: #00000000;}
    100% {color: #fff;}
  }


  .menuItem{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    position: relative; 
    background-color: #1c1e22; 
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    margin-left: 5px;
    .textMenu{
        color: #1c1e22; 
        background-color: #90ee90; 
        border: 5px solid #1c1e22; 
        text-align: center; 
        width: 100%; 
        margin-left: 3px; 
        border-radius: 100px; 
        padding-bottom: 5px
      }
    
      .squareA{
        position: absolute; 
        height: 20px; 
        width: 20px; 
        background-color: #1c1e22; 
        right: 5px; 
        transform: translateY(-20px);
      }
    
      .squareB{
        position: absolute; 
        height: 20px; 
        width: 20px; 
        background-color: #90ee90; 
        right: 5px; 
        transform: translateY(-20px); 
        border-bottom-right-radius: 20px;
      }
    
      .squareC{
        position: absolute; 
        height: 20px; 
        width: 20px; 
        background-color: #1c1e22; 
        right: 5px;
        bottom:0; 
        transform: translateY(20px);
      }
    
      .squareD{
        position: absolute; 
        height: 20px; 
        width: 20px; 
        background-color: #90ee90; 
        right: 5px; 
        bottom:0; 
        transform: translateY(20px); 
        border-top-right-radius: 20px;
      }
  }

  





  .footerBox{
    width: 100%; 
    height: 280px; 
    background-color: #2B2D31; 
    margin-top: 20vh;
    flex-wrap: wrap; 
    display: flex;
    .footerText{
      color: #65656590; 
      font-size: 18px; 
      letter-spacing: 3px; 
      width: 100%; 
      height: 20px; 
      display: flex; 
      margin-bottom: 40px; 
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
      font-family: Signika;
      cursor:default;
    }
    .footerIcon{
        height: 46px; 
        width: auto; 
        margin-left: 10px; 
        margin-right: 10px;
        border-radius: 100px;
        transition: 0.15s;
    }
      
    .footerIcon:hover{
        background-color: #1C1E22;
        cursor: pointer;
        scale: 1.15;
    }
  }



  .menuItemLink{
    font-size: 2rem;
    transition: opacity 0.3s, scale 0.5s, margin-left 0.3s;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    height: 3.8rem;
    text-decoration: none;
    opacity: 0.50;
  }


  .menuItemLink:hover{
    cursor: pointer;
    opacity: 1;
  }


  .menuItemLinkSelected{
    /* scale: 1.02; */
    font-weight: 500;
    opacity: 1;
    margin-left: 2px;
  }



  .boxSize{
    margin-bottom:25px; 
    height: fit-content; 
    border-radius: 25px; 
    width: var(--contentSize);
  }


  .iconBox{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px;
    margin-left: 0px;
    .educationIcon{
      height: 30px;
      width: 30px;
    }
  }
  
  .skills{
    cursor: default;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    .row{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: start;
      
      position: absolute;
      .skill{
        padding: 4px;
        padding-left: 14px;
        padding-right: 14px;
        margin: 9px;
        margin-left: 9px;
        margin-right: 9px;
        border-radius: 20px;
        background-color: #d9d9d913;
        border-radius: 20px;
        font-size: 0.9rem;
        color: #C2C2C2;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: 0.1s;
        height: 26px;
        text-wrap: nowrap;
        img{
          height: 16px;
          width: auto;
          margin-right: 13px;
        }
      }
    }
    
  }

  .scrollSkills1{
    animation: scrollSkills linear 60s infinite ;
    animation-direction: alternate;
  }

  .scrollSkills2{
    animation: scrollSkills linear 60s infinite ;
    animation-direction: alternate-reverse;
  }


  @keyframes scrollSkills {
    0% {transform: translateX(0%) ;}
    100% {transform: translateX(-1200%) ;}
  }





  .container{
    position:relative;
  }
  .overflow-hid-div{
    overflow:hidden;
    width:100%;
    height: 100px;
    position: relative;
  }
  .inner{
    width:50px;
    height: 50px;
    position: absolute;
    left:25px;
    top:25px;
  
  }


  .photoDiv{
    position: relative;
    width: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
  }

  .photoImage{
    border-radius: 15px;
    margin: 10px;
    width: 600px;
    position: absolute;
    top: 0px;
    transition: 0.2s;
  }


  .photoImage:nth-child(1){
    left: 0;
    opacity: 0.5;
    transform: rotate3d(1, 1, 1, 6deg);
  }

  .photoImage:nth-child(2){
    scale: 1.2;
    z-index: 100;
  }

  .photoImage:nth-child(3){
    right: 0;
    opacity: 0.5;
    transform: rotate3d(1, 1, 1, -6deg);
  }
