/* Copyright 2023, Bartek Skorecki, All rights reserved. */

:root {
  --boxSize: 650px;
}

/* Fonts */
@font-face {
  font-family: Itim;
  src: url(./fonts/Itim-Regular.ttf);
}

@font-face {
  font-family: Signika;
  src: url(./fonts/Signika-VariableFont_GRAD\,wght.ttf);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  z-index: 1000;
  border-radius: 6px;
}

::-webkit-scrollbar-track { /* Track */
  background: #1C1E22;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: #33363a;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: #555;
}

/* General */
*{
  box-sizing: border-box;
  font-family: Signika;
}

.noMP{
  margin: 0px;
  padding: 0px;
}

.alignCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignLeftRight{
  display: flex;
  justify-content: center;
}

.alignTopBottom{
  display: flex;
  align-items: center;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
}


.itim{
  font-family: Itim;
}

.signika{
  font-family: Signika;
}


.textBox{
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 10px;
  padding : 4px;
  border-radius: 15px;
  width: 75%;
  justify-content: center;
  align-items: center;
  .text{
    color: white;
    margin-left: 20px;
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Signika;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: default;
  }
  .iconBox{
    width: 10%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    .icon{
      height: 28px; 
      width: auto;
      border-radius: 10px;
    }
  }
  
}


.skills{
  cursor: default;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  .row{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .skill{
      padding: 4px;
      padding-left: 14px;
      padding-right: 14px;
      margin: 9px;
      margin-left: 9px;
      margin-right: 9px;
      border-radius: 20px;
      background-color: #d9d9d913;
      border-radius: 20px;
      font-size: 0.9rem;
      color: #C2C2C2;
      align-items: center;
      justify-content: center;
      display: flex;
      transition: 0.125s;
      img{
        height: 16px;
        width: auto;
        margin-right: 13px;
      }
      div{
        height: 16px;
        width: auto;
        margin-right: 13px;
      }
    }
    /* .skill:hover{
      transform: scale(1.09);
      cursor: pointer;
    } */
    /* #html:hover{
      background-color: #d9d9d925;
    } */
  }
  
}


/* Layout */
body{
  /* background-color: #1C1E22; */
  background-image:
  radial-gradient(circle at center, rgba(255, 255, 255, 0.004) 0, rgba(255, 255, 255, 0.004) 1px, transparent 1px),
      linear-gradient(to right, rgba(255, 255, 255, 0.007) 1px, transparent 1px), 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.007) 1px, transparent 1px); 
      background-size: 100px 100px; 
      background-attachment: fixed;
      background-color: #1C1E22;
/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3840' height='3840' preserveAspectRatio='none' viewBox='0 0 3840 3840'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1121%26quot%3b)' fill='none'%3e%3crect width='3840' height='3840' x='0' y='0' fill='rgba(28%2c 30%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M1834.8487526935326 3538.3961780693908L2561.8629666729225 4066.6029229898068 3090.069711593339 3339.588709010417 2363.055497613949 2811.3819640900006z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2438.0048734978636 103.8771495862872L1778.5972725435213-261.6384522194603 1413.0816707377737 397.76914873488215 2072.4892716921163 763.2847505406296z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M3982.514096650813 1164.349589170348L3590.7814625816472 239.03450952332537 3050.0026614656435 931.1998108791596z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M854.7073909661609 1990.8960229653942L248.43151361145908 2176.2531601009946 829.6051579922103 2992.988407565247z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M3688.546%2c3645.768C3862.664%2c3644.213%2c3999.263%2c3521.833%2c4094.506%2c3376.065C4202.676%2c3210.511%2c4317.747%2c3006.761%2c4217.41%2c2836.345C4117.776%2c2667.122%2c3884.371%2c2671.862%2c3688.546%2c2686.567C3523.669%2c2698.948%2c3366.577%2c2764.905%2c3281.42%2c2906.63C3193.661%2c3052.686%2c3187.622%2c3234.179%2c3269.831%2c3383.43C3355%2c3538.054%2c3512.025%2c3647.344%2c3688.546%2c3645.768' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2729.605%2c4487.7C3064.693%2c4493.807%2c3421.876%2c4385.536%2c3578.971%2c4089.491C3729.521%2c3805.78%2c3591.734%2c3471.037%2c3409.397%2c3206.631C3254.429%2c2981.913%2c3001.839%2c2877.877%2c2729.605%2c2857.828C2405.652%2c2833.97%2c2030.632%2c2821.202%2c1851.029%2c3091.863C1659.217%2c3380.922%2c1747.423%2c3765.886%2c1932.219%2c4059.48C2104.469%2c4333.142%2c2406.3%2c4481.808%2c2729.605%2c4487.7' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M559.1737695399376 2179.820705607562L-289.0212416510859 2164.206798708444 59.13016443162621 2818.9843620757383z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1987.3499654966067 2344.71850526397L2357.0778269299467 2872.7446136070184 2964.2530587278493 2054.1397672854846z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1483.93 890.09 a1118.66 1118.66 0 1 0 2237.32 0 a1118.66 1118.66 0 1 0 -2237.32 0z' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1865.032%2c3382.618C2008.015%2c3380.717%2c2108.34%2c3260.721%2c2181.912%2c3138.104C2258.458%2c3010.53%2c2325.753%2c2860.761%2c2257.46%2c2728.585C2184.944%2c2588.236%2c2022.993%2c2527.009%2c1865.032%2c2524.807C1702.62%2c2522.543%2c1529.644%2c2574.066%2c1453.184%2c2717.373C1379.733%2c2855.04%2c1451.078%2c3014.06%2c1533.212%2c3146.729C1609.774%2c3270.398%2c1719.595%2c3384.552%2c1865.032%2c3382.618' fill='rgba(23%2c 25%2c 27%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1121'%3e%3crect width='3840' height='3840' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");} */
}

.firstBox{
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='300' preserveAspectRatio='none' viewBox='0 0 300 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1217%26quot%3b)' fill='none'%3e%3crect width='300' height='300' x='0' y='0' fill='rgba(43%2c 45%2c 49%2c 0.7254901960784313)'%3e%3c/rect%3e%3cpath d='M226.70757448256893 68.6835392557414L229.4428410679632 16.491543662457346 174.51557888928488 65.94827267034712z' fill='rgba(217%2c 217%2c 217%2c 0.09411764705882353)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M101.78 253.62 a71.73 71.73 0 1 0 143.46 0 a71.73 71.73 0 1 0 -143.46 0z' fill='rgba(217%2c 217%2c 217%2c 0.09411764705882353)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-64.39 221.42 a76.55 76.55 0 1 0 153.1 0 a76.55 76.55 0 1 0 -153.1 0z' fill='rgba(217%2c 217%2c 217%2c 0.09411764705882353)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M216.82 24 a73.96 73.96 0 1 0 147.92 0 a73.96 73.96 0 1 0 -147.92 0z' fill='rgba(217%2c 217%2c 217%2c 0.09411764705882353)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M91.07579621790401 263.28962831442124L137.72379667226437 278.44648245192445 152.8806508097676 231.79848199756412 106.23265035540724 216.64162786006088z' fill='rgba(217%2c 217%2c 217%2c 0.09411764705882353)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1217'%3e%3crect width='300' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
  background-position: 0 0;
  opacity : 1;
  transition: 0.15s;
  /* background:#2b2d31b9; */
  .animatedBackground{
    border-radius: 15px;
    transition: 0.45s;
    opacity: 0;
    height: 100%;
    width:100%;
    position: absolute;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='300' preserveAspectRatio='none' viewBox='0 0 300 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1234%26quot%3b)' fill='none'%3e%3crect width='300' height='300' x='0' y='0' fill='rgba(43%2c 45%2c 49%2c 0.7254901960784313)'%3e%3c/rect%3e%3cpath d='M266.5602330352305 281.42607304397416L260.1926848715324 229.5665549020033 208.33316672956153 235.9341030657014 214.70071489325966 287.7936212076723z' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M82.01 108.54 a63.42 63.42 0 1 0 126.84 0 a63.42 63.42 0 1 0 -126.84 0z' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-67.61 26.78 a70.15 70.15 0 1 0 140.3 0 a70.15 70.15 0 1 0 -140.3 0z' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M81.781%2c34.716C94.778%2c35.534%2c108.415%2c29.865%2c114.3%2c18.248C119.811%2c7.37%2c113.258%2c-4.621%2c107.017%2c-15.097C100.986%2c-25.22%2c93.56%2c-35.976%2c81.781%2c-36.334C69.56%2c-36.706%2c59.323%2c-27.596%2c53.739%2c-16.718C48.627%2c-6.759%2c50.3%2c4.727%2c55.658%2c14.555C61.301%2c24.906%2c70.015%2c33.975%2c81.781%2c34.716' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M12.46 271.07 a66.56 66.56 0 1 0 133.12 0 a66.56 66.56 0 1 0 -133.12 0z' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M288.284%2c68.817C300.209%2c69.533%2c313.42%2c66.648%2c319.26%2c56.227C325.017%2c45.954%2c319.114%2c34.134%2c313.531%2c23.766C307.505%2c12.575%2c300.987%2c-0.879%2c288.284%2c-1.297C275.195%2c-1.727%2c265.501%2c10.127%2c259.987%2c22.006C255.322%2c32.056%2c257.413%2c43.375%2c263.145%2c52.857C268.648%2c61.961%2c277.665%2c68.179%2c288.284%2c68.817' fill='rgba(51%2c 54%2c 58%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1234'%3e%3crect width='300' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    height: 300px;
    width: inherit;
    background-position: center;
    opacity: 0.6;
  }
}


/* .firstBox:hover{
  .animatedBackground{
    opacity: 0.35;
  }
} */







.box{
  background-color: #2b2d31b9;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='800' height='800' preserveAspectRatio='none' viewBox='0 0 800 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1137%26quot%3b)' fill='none'%3e%3crect width='800' height='800' x='0' y='0' fill='rgba(43%2c 45%2c 49%2c 0.7254901960784313)'%3e%3c/rect%3e%3cpath d='M119.75779973750996 400.0256655722518L8.583074005941938 322.18028455661096-69.26230700969892 433.35501028817896 41.9124187218691 511.2003913038198z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M127.622%2c597.149C191.252%2c595.49%2c244.176%2c551.318%2c273.455%2c494.8C300.406%2c442.776%2c296.563%2c380.677%2c265.5%2c330.999C236.26%2c284.237%2c182.772%2c261.92%2c127.622%2c261.577C71.783%2c261.23%2c17.56%2c282.701%2c-13.259%2c329.266C-47.668%2c381.256%2c-61.026%2c447.583%2c-32.006%2c502.764C-1.168%2c561.402%2c61.392%2c598.876%2c127.622%2c597.149' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M452.52153914068185 483.33822038573976L645.123171762235 618.1993354188482 587.3826541737903 290.7365877641867z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M303.0705926061548 153.66127357667773L420.90491343262704 208.60831977155482 475.85195962750413 90.77399894508255 358.01763880103186 35.826952750205464z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M609.07 152 a180.22 180.22 0 1 0 360.44 0 a180.22 180.22 0 1 0 -360.44 0z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M177.00069129990385 252.85800396542794L89.35927583566985 140.68210760842456-35.08386096771818 328.23217898327727z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M517.8809560783131 335.31494719294113L378.359701404038 567.016840876718 614.645643373173 575.2681277903625z' fill='rgba(36%2c 38%2c 41%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1137'%3e%3crect width='800' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
  transition:0.15s;
  .boxTitle{
    color: #f8f8f8;
    font-size: 2rem;
    font-weight: 100;
    text-align: left; 
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
}

.profileDescriptionDiv{
  height: 100%; 
  width: 100%;
  .boxMainFont{
    color: #f8f8f8;
    font-size: 1.06rem;
    font-weight: 100;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: default;
    transition: 0.25s;
  }
  .boxMainFont:hover{
    scale: 1.1;
  }
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item {
  padding-left: 10px;
  padding-right: 10px;
  flex: 50%;
}

@media (max-width: 1500px) {
  .flex-item {
    /* flex: 0%; */
    flex: 100%;
  }
}






/* Profile Links Image */
.linkIconDiv{
  height: 22%; 
  width: 100%; 
  border-top: 2px solid #1c1e2200;
  a{
    height: 50px;
    align-items: end;
    justify-content: center;
    display: flex;
    margin: 2px;
    transition: 0.15s;
    border-radius: 10px;
    background-color: #37393d00;
    .linkIcon{
      height: 32px; 
      width: 32px; 
      margin: 8px;
      transition: 0.15s;
    }
  }
  a:hover{
    background-color: #3d3d3d;
    border-radius: 15px;
    .linkIcon{
      transform: scale(1.16);
    }
  }
  
}


.profileImageDiv{
  height: 78%; 
  width: 100%; 
  .profileImageBackground{
    background: linear-gradient(217deg, rgb(205 211 223), rgba(255,0,0,0) 70.71%),linear-gradient(127deg, rgb(43 45 49), rgb(100 197 209) 70.71%), linear-gradient(336deg, rgb(44 46 104), rgba(0,0,255,0) 70.71%) ; 
    height: 210px; 
    aspect-ratio: 1 / 1; 
    border-radius: 100%; 
    display: flex; 
    margin-top: 1vh;
    .profileImage{
      object-fit: cover; 
      width: 200px; 
      height: 200px; 
      border-radius: 100px;
      transition: 0.12s;
    }
  }
    
}





/* Skills */
.skillBox{
  display: flex; 
  flex-wrap: wrap; 
  margin-top: 10px; 
  margin-left: 20px; 
  width: 550px;
  animation-name: skillLoading;
  animation-duration: 2s;
  .skill{
    background-color: #d9d9d918;
    border-radius: 25px;
    height: 38px;
    color: #FFFFFF;
    text-align: left;
    font-size: 24px;
    flex-wrap: wrap; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    position: relative;
    .skillImageDiv{
      height: 38px; 
      width: 38px; 
      border-bottom-left-radius: 25px; 
      border-top-left-radius: 25px; 
      margin-right: 20px;
      .skillImage{
        height: 22px; 
        width: auto; 
        margin-left: 3px;
      }
    }
    .skillTextBox{
      position:absolute; 
      margin-left: 45px; 
      flex-wrap: wrap;
      .skillTextDiv{
        width: 50%; 
        height: 100%; 
        display: flex;
        .skillText{
          font-size: 21px; 
          text-align: start; 
          margin-left: 15px; 
          margin-right: 25px;
          font-weight: 100;
          font-family: Itim;
          animation-name: skillLoadingTextLeft;
          animation-duration: 1s;
          cursor:default;
        }
        .skillText2{
          font-size: 21px; 
          text-align: start; 
          margin-left: 15px; 
          margin-right: 25px;
          font-weight: 100;
          font-family: Itim;
          animation-name: skillLoadingTextRight;
          animation-duration: 2.3s;
          cursor:default;
        }
      }
    }
  }
}


@keyframes skillLoading {
  0% {width: 0px;}
  40% {width: 200px;}
  100% {width: 550px;}
}

@keyframes skillLoadingTextLeft {
  0% {color: #00000000;}
  70% {color: #00000000;}
  100% {color: #fff;}
}

@keyframes skillLoadingTextRight {
  0% {color: #00000000;}
  85% {color: #00000000;}
  100% {color: #fff;}
}





/* Paginator */

.paginatorCircleDiv{
  width: 34px; 
  height: 34px; 
  margin:0px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 14px; 
  .paginatorCircle{
    border-radius: 14px; 
  }
}

.paginatorCircleDiv[status="0"]{
  .paginatorCircle{
    width: 10px; 
    height: 10px; 
    background-color: rgba(194, 194, 194, 0.2); 
    border: 0px solid rgba(194, 194, 194, 0);
    transition: 0.15s;
  }
}

.paginatorCircleDiv[status="1"]{
  .paginatorCircle{
    width: 20px; 
    height: 20px; 
    background-color: rgba(194, 194, 194, 0);
    border: 3px solid rgba(194, 194, 194, 0.6);
  }
}



.paginatorCircleDiv:hover{
  cursor: pointer;
    .paginatorCircle{
      width: 20px; 
      height: 20px; 
      background-color: rgba(194, 194, 194, 0);
      border: 3px solid rgba(194, 194, 194, 0.6);
      border-radius: 14px; 
      
    }
}




.photoEntry, .projectEntry{
  align-items: center;
  justify-content: center;
}


.photoEntry[status="1"], .projectEntry[status="1"]{
  display: flex;

}

.photoEntry[status="0"], .projectEntry[status="0"]{
  display: none;

}


.projectEntry{
  margin-top: 25px; 
  padding-top:8px; 
  padding-bottom:8px;
  .projectDiv{
    transition: 0.1s;
    background-color:  #2B2D31; 
    height: 355px; 
    width: 550px; 
    border-radius: 20px;
    .projectOverlay{
      height: 355px; 
      width: 550px; 
      border-radius: 20px; 
      background-color:  #2B2D3100; 
      border: 2px solid rgba(128, 128, 128, 0);
      position: absolute;
      transition: 0.1s;
    }
    .projectTop{
      height: 70px; 
      width: 100%; 
      background-color: #2B2D31;
      flex-wrap: wrap; 
      display: flex; 
      border-top-right-radius: 20px; 
      border-top-left-radius: 20px;
      .projectSmallImageDiv{
        height: 100%; 
        width: 70px; 
        background-color: #303234; 
        border-top-left-radius: 20px;
        transition: 0.1s;
        .projectSmallImage{
          height: 70px; 
          width: auto; 
          border-top-left-radius: 20px;
          transition: 0.1s;
        }
      }
      .projectHeadingDiv{
        height: 100%; 
        width: 394px; 
        margin-left: 6px; 
        background-color: #303234;
        transition: 0.1s;
        .projectHeading{
          font-size: 1.65rem;
          color: #656565; 
          font-weight: 100; 
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          font-family: Itim;
        }
      }
      .projectIconDiv{
        height: 100%; 
        width: 80px; 
        background-color: #303234; 
        border-top-right-radius: 20px;
        transition: 0.1s;
        .linkAnimation{
          background-color: #00000000;
          width:38px;
          height:38px;
          transition: 0.1s;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          z-index: 2;
          img{
            height: 22px;
            width: auto; 
            transition: 0.1s;
          }
          .projectIcon{
            height: 22px; 
            width: 22px; 
            margin-left: 8px; 
            margin-right: 8px; 
          }
        }
        
        .linkAnimation:hover{
          background-color: rgba(105, 105, 105, 0.20); 
          img{
            height: 26px;
            width: auto; 
          }
        }
        
      }
    }
    


    .projectBottom{
      height: 279px; 
      width: 100%; 
      margin-top: 6px; 
      flex-wrap: wrap; 
      display: flex;
      .projectBigImage{
        height: 100%; 
        width: 279px;
        img{
          height:100%; 
          width: 100%;
          object-fit: cover;
          border-bottom-left-radius: 20px;
          transition: 0.1s;
        }
      }
      .projectDescriptionDiv{
        margin-left: 6px; 
        width: 264px; 
        height: 100%; 
        background-color: #303234; 
        transition: 0.15s;
        flex-wrap: wrap; 
        display: flex; 
        border-bottom-right-radius: 20px;
        .projectStatusParent{
          height: 26px; 
          width: 100%;
          justify-content: end;
          display: flex;
          .projectStatusDiv{
            background-color: #2B2D31; 
            width: fit-content; 
            padding-left: 10px;
            padding-right: 10px;
            height: 26px; 
            border-bottom-left-radius: 15px; 
            border-bottom-right-radius: 15px; 
            margin-right:10px;
            .projectStatusCircle{
              height: 10px; 
              width: 10px; 
              border-radius: 20px; 
              margin-right: 8px;
            }
            .projectStatusText{
              font-size: 0.92rem; 
              font-weight: 100; 
              color: #656565; 
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
              font-family: Itim;
            }
          }
        }
        .projectTextDescriptionDiv{
          margin-top: 25px;
          margin-bottom: 25px;
          height: 180px;
          width:100%; 
          font-weight: 100; 
          color: #656565; 
          font-size: 1.13rem; 
          padding-left: 15px; 
          padding-right: 15px; 
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
          font-family: Itim;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          font-size: 18px;
        }
        .projectTagListDiv{
          height: 22px; 
          width: 100%;
          .projectTagDiv{
            background-color: #2B2D31; 
            width: fit-content; 
            height: 22px; 
            border-top-left-radius: 15px; 
            border-top-right-radius: 15px; 
            margin-right: 4px; 
            margin-left: 4px;
            .projectTagText{
              font-size: 0.8rem; 
              font-weight: 100; 
              color: #656565; 
              padding-left:12px; 
              padding-right: 12px; 
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
              font-family: Itim;
            }
          }
        }
      }
    }
  }
  .projectDiv:hover{
    cursor:pointer;
    box-shadow: #4b4e532f 0px 0px 20px 6px;
    .projectOverlay{
      border: 2px solid rgba(128, 128, 128, 0.062);
      
    }
  }
  /* .projectDiv:hover{
    cursor:pointer;
    .projectTop{
      .projectSmallImageDiv{
        background-color: #282a2e; 
        .projectSmallImage{
          opacity: 0.5;
        }
      }
      .projectHeadingDiv{
        background-color: #282a2e; 
      }
      .projectIconDiv{
        background-color: #282a2e; 
        
      }

    }
    .projectBottom{
      .projectDescriptionDiv{
        background-color: #282a2e; 
      }
      .projectBigImage{
        img{
          opacity: 0.5;
        }
      }
    }
    
  } */
}




.photoDiv{
  height: 365px; 
  width: 550px; 
  border-radius: 20px; 
  margin-top:25px;
  overflow: hidden;
  .photo{
    height: auto; 
    width: 550px; 
    border-radius: 20px;
    transform: scale(1);
    transition: 0.25s;
  }
  .bannerDiv{
    z-index: 1;
    position: absolute; 
    width: 550px; 
    height: 350px; 
    margin-top: 25px;
    .banner{
      position: absolute; 
      width: 520px; 
      height: 45px; 
      background-color: rgba(105, 105, 105, 0.28); 
      border-radius: 5px; 
      backdrop-filter: blur(4px); 
      transition: 0.25s;
      .bannerText{
        transition: 0.25s;
        text-shadow: 0px 4px 4px #69696900; 
        color: rgba(218, 222, 227, 0.63); 
        font-size: 1.2rem; 
        font-weight: 100; 
        letter-spacing: 4px; 
        font-family: Signika;
      }
    }
  }

  .descriptionDivLeft{
    z-index: 1;
    display: flex;
    position: absolute; 
    width: 550px; 
    height: 365px; 
    justify-content: left;
    overflow: hidden;
    .banner{
      margin-top: 165px;
      height: 200px;
      width: 0px;
      background-color: rgba(66, 66, 66, 0);
      transition: 0.25s;
      border-bottom-left-radius: 20px;
      flex-wrap: wrap;
      .child{
        img{
          height: 32px;
          width: auto;
          opacity: 0;
          transition: 0.15s;
        }
        h6{
          color: rgba(218, 222, 227, 0.63); 
          font-weight: 100;
          font-family: Signika;
          font-size: 0.85rem;
          white-space: wrap;
          opacity: 0;
          transition: 0.15s;
          width: 80px;
          text-shadow: 0px 4px 4px #69696900; 
        }
      }
    }
  }
  .descriptionDivRight{
    z-index: 1;
    display: flex;
    position: absolute; 
    width: 550px; 
    height: 380px; 
    justify-content: right;
    overflow: hidden;
    .banner{
      margin-top: 165px;
      height: 200px;
      width: 0px;
      background-color: rgba(66, 66, 66, 0);
      transition: 0.25s;
      border-bottom-right-radius: 20px;
      flex-wrap: wrap;
      .child{
        img{
          height: 24px;
          width: auto;
          opacity: 0;
          transition: 0.15s;
        }
        h6{
          color: rgba(218, 222, 227, 0.63); 
          font-weight: 100;
          font-family: Signika;
          font-size: 0.85rem;
          white-space: wrap;
          opacity: 0;
          transition: 0.15s;
          width: 80px;
          text-shadow: 0px 4px 4px #69696900; 
        }
      }
    }
  }
}

.photoDiv:hover{
  cursor: pointer;
  .photo{
    transform: scale(1.03);
    filter: blur(8px);
  }
  .banner{
    background-color: rgba(105, 105, 105, 0.37); 
    .bannerText{
      text-shadow: 0px 4px 4px #0000003b; 
      color: rgba(218, 222, 227, 0.8); 
    }
  }
  .descriptionDivLeft{
    display: flex;
    overflow: hidden;
    .banner{
      background-color: rgba(105, 105, 105, 0.37); 
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 110px;
      .child{
        img{
          opacity: 1;
        }
        h6{
          opacity: 1;
          width: 80px;
        }
      }
    }
  }
  .descriptionDivRight{
    display: flex;
    overflow: hidden;
    .banner{
      background-color: rgba(105, 105, 105, 0.37); 
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 80px;
      .child{
        img{
          opacity: 1;
        }
        h6{
          opacity: 1;
          width: 60px;
        }
      }
    }
  }
}




/* Projects */




.footerIcon{
  height: 46px; 
  width: auto; 
  margin-left: 10px; 
  margin-right: 10px;
  border-radius: 100px;
  transition: 0.15s;
}

.footerIcon:hover{
  background-color: #1C1E22;
  cursor: pointer;
  scale: 1.15;
}




.navbarBox{
  width: 100%; 
  height: 62px; 
  background-color: #2B2D31; 
  margin-bottom: 80px;
  .dotBox{
    width: 150px; 
    height: 100%;
    margin-left: 20px;
    .navbarCircle{
      background-color: #65656580; 
      border-radius: 10px; 
      height: 10px; 
      width: 10px; 
      margin-right: 8px;
    }
  }
}



.portfolioContentBox{
  display: block; 
  height: auto; 
  display: flex; 
  flex-wrap: wrap;
}


.footerBox{
  width: 100%; 
  height: 280px; 
  background-color: #2B2D31; 
  margin-top: 50px;
  flex-wrap: wrap; 
  display: flex;
  .footerText{
    color: #65656590; 
    font-size: 18px; 
    letter-spacing: 3px; 
    width: 100%; 
    height: 20px; 
    display: flex; 
    margin-bottom: 40px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    font-family: Signika;
    cursor:default;
  }
}



.portfolioBox{
  width: 1350px;
  #educationPaginator{
    margin-top:10px
  }
}







.tagPopup{
  padding-top: 2px;
  width: fit-content; 
  height: 100%; 
  padding-left:20px; 
  padding-right: 20px; 
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  color: white; 
  font-size: 14px; 
  align-items: center; 
  justify-content: center; 
  display: flex; 
  margin-left: 8px; 
  margin-right: 8px; 
  font-weight: 100;
  border-radius: 25px;
  margin-top: 24px;
}


.popUpInsideDiv{
  min-width: 30%; 
  max-width: 800px; 
  height: 90%; 
  border-radius: 25px;
}

.popupDescriptionEntry{
  color:#959697; 
  margin-top: 10px; 
  line-height: 23px;
}


.popupExplenationEntry{
  color:#959697; 
  margin-top: 10px; 
  line-height: 23px;
}


.popupFunctionalityEntry{
  color:#959697; 
  margin-bottom: 8px; 
  line-height: 23px;
}

.popupAdditionalEntry{
  color:#959697; 
  margin-bottom: 5px;
}





